@model laptopi.etf1.Models.Primjedba

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Primjedba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="primjedbaId" />
            <div class="form-group">
                <label asp-for="sadrzaj" class="control-label"></label>
                <input asp-for="sadrzaj" class="form-control" />
                <span asp-validation-for="sadrzaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumPrimjedbe" class="control-label"></label>
                <input asp-for="datumPrimjedbe" class="form-control" />
                <span asp-validation-for="datumPrimjedbe" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="validnost" /> @Html.DisplayNameFor(model => model.validnost)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="artikalId" class="control-label"></label>
                <input asp-for="artikalId" class="form-control" />
                <span asp-validation-for="artikalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <input asp-for="korisnikId" class="form-control" />
                <span asp-validation-for="korisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
