@model laptopi.etf1.Models.Rezervacija

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rezervacijaId" />
            <div class="form-group">
                <label asp-for="datumOd" class="control-label"></label>
                <input asp-for="datumOd" class="form-control" />
                <span asp-validation-for="datumOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumDo" class="control-label"></label>
                <input asp-for="datumDo" class="form-control" />
                <span asp-validation-for="datumDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumZahtjeva" class="control-label"></label>
                <input asp-for="datumZahtjeva" class="form-control" />
                <span asp-validation-for="datumZahtjeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <input asp-for="korisnikId" class="form-control" />
                <span asp-validation-for="korisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
